*,
:before,
:after {
    box-sizing: border-box;
}

:root {
    --background: #16161a;
    --headline: #fffffe;
    --paragraph: #94a1b2;
    --button: #7f5af0;
    --button-text: #fffffe;
    --stroke: #010101;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fffffe;
        --headline: #094067;
        --paragraph: #5f6c7b;
        --button: #3da9fc;
        --button-text: #fffffe;
        --stroke: #094067;
        --main: #fffffe;
        --highlight: #3da9fc;
        --secondary: #90b4ce;
        --tertiary: #ef4565;
    }
}

body {
    margin: 0;
    background: var(--background);
    color: var(--main);
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5em;
}

::selection {
    background: var(--highlight);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 10px;
}
